extends layout

block content
  h1 API Basejump: Timestamp Microservice
  h1= title
  p User Stories:
  ul
    li 1. I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).
    li 2. If it does, it returns both the Unix timestamp and the natural language form of that date.
    li 3. If it does not contain a date or Unix timestamp, it returns null for those properties.
  h2 Example Usage
  
  p.red https://time-turtlewolfe.c9users.io/December 20, 2015
  p.red https://time-turtlewolfe.c9users.io/1450137600
  h2 Example Output:
  p.red { "unix": 1450137600, "natural": "December 15, 2015" }
